<% if DateTime.now <= @homework.fecha_entrega %>
  <%= form_for([@course, @homework, @homework_delivery],html: { class: 'form-horizontal' }) do |f| %>
     <fieldset>
        <div class="form-group">              
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-upload bigicon"></i></span>              
              <div class="col-md-8">
                <%= f.file_field :work, class: "form-control",autofocus: true%>
               </div>
            </div> 
       
        <div class="form-group">              
                          
              <div class="col-md-8 col-md-offset-3">
                <%= f.submit "Subir tarea", class:"btn btn-success" %>
               </div>
            </div> 
     </fieldset>  
     
  <% end %>
<%  else %>
 <div class="col-md-6 col-md-offset-3">
 <div class="alert alert-warning"> 
   No se permiten mas envios
   </div>
 </div>
<% end %>

