 <div class ="jumbotron">
   <br>      
   <H1 align="center">Estudiante</H1>
  <br><br>
   <%= render 'form' %>

  
 </div>  

<style>
    .header {
        color:#36A0FF;
        font-size:27px;
        padding:10px;
    }
    .bigicon {
        font-size:35px;
        color:#36A0FF;
    }
</style>
