<br><br>
<div class="jumbotron">
  <br><br>
<h1 align ="center">Busca tus clases</h1>
  <br><br><br><br>
  <%= form_tag({controller: "students", action: "enroll"}, method: "post", html: { class: 'form-horizontal' }) do %>
  <fieldset>
       <div class="form-group">
          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-search bigicon"></i></span>
             <div class="col-md-8">
               <%= text_field_tag :course_code,nil, autofocus: true, id: "codigo_clase", placeholder: "Ingrese el codigo de la clase", class: "form-control" %>
            </div>
       </div>
     <br><br><br>
     <div class="col-md-2 col-md-offset-5 actions" >
        <%= submit_tag("Registrarse", :class=>"btn btn-lg btn-success")%>     
      </div>
 </fieldset>   

  
<% end %>
</div>  

<style>
    .header {
        color:#36A0FF;
        font-size:27px;
        padding:10px;
    }
    .bigicon {
        font-size:35px;
        color:#36A0FF;
    }
</style>