<div style="background-color: #eeeeee;">
  <div class="jumbotron">
  <h1 align="center">Tareas</h1>
    <br><br>
  <div class="col-md-6 col-md-offset-3">  
    <% course.homeworks.each do |homework| %>
    
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= homework.titulo %></h3>
      </div>
      <div class="panel-body">
        <%= homework.descripcion %>
        <% if Teacher.where(user_id: current_user.id).first != nil %>
        <br><br>
        <%= link_to "Ver tareas", "",class: "btn btn-primary"%>
        <% else %>
        <br><br>
        <%= link_to "Entregar tarea", new_course_homework_homework_delivery_path(course,homework),class: "btn btn-primary"%>
        <%  end %>
      </div>
    </div>
    <% end %>
   </div> 
    
   
    
    
  </div>