// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#jum{
  background-image: url('libros.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
 
}

.panel-success > .panel-heading {
  color: black;
  background-color: #00C12B;
  border-color: #d6e9c6;
}

#barrita {
  background-color: rgba(#4671D5,0.9);
  margin-bottom: 0;
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    li a {
      color: white;
    }
  }
}

.navbar .navbar-collapse {
  text-align: center;
}  
